[submodule "api"]
	path = api
	url = https://github.com/randorm/api.git
[submodule "web"]
	path = web
	url = https://github.com/randorm/web.git
[submodule "research"]
	path = research
	url = https://github.com/randorm/research.git
